body {
    margin: 0;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    font-family: BentonSans, 'Open Sans', sans-serif;
}

.productMainDiv{
    height: 95%;
    width: 100%;
    justify-content: start;
    align-items: center;
}

.productTopDiv{
    height: 10%;
    width: 100%;
    justify-content: center;
    align-items: center;
    /* background-color: yellow; */
}

.productDDDiv{
    height:50px;
    width:100%;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: yellow; */
}

.productParentDiv{
    display: flex;
    flex-direction: row;
    height: 80%;
    width: 100%;
    justify-content: start;
    align-items: center;
}

.productLeftDiv{
    height: 100%;
    width: 25%;
    align-items: center;
    /*background-color: blue;*/
}

.productRightDiv{
    height: 100%;
    width: 25%;
    align-items: center;
    /*background-color: green;*/
}

.productCommentDiv{
    height: 100%;
    width: 50%;
    align-items: center;
    /*background-color: green;*/
}

.productLeftBodyDiv{
    align-items: center;
    /*background-color: blue;*/
    /* border-style: solid; */
    /* border-width: 5px; */
    overflow: scroll;
    height:100%
}

.productRightBodyDiv{
    align-items: center;
    /* border-style: solid; */
    /* border-width: 5px; */
    /*background-color: blue;*/
    overflow: scroll;
    height:100%;
}

.pieBodyDiv{
    display:flex;
    flex-direction: row;
    height: 40%;
    width: 100%;
    justify-content: center;
    align-items: center;
    /* background-color: yellow; */
}

.barBodyDiv{
    display:flex;
    flex-direction: row;
    height: 40%;
    width: 100%;
    justify-content: center;
    align-items: center;
    /* background-color: yellow; */
}

.starBodyDiv{
    display:flex;
    flex-direction: row;
    height: 20%;
    width: 100%;
    justify-content: center;
    align-items: center;
    /* background-color: yellow; */
}

.productCommentBodyDiv{
    align-items: center;
    /* border-style: solid; */
    /* border-width: 5px; */
    /*background-color: blue;*/
    overflow: scroll;
    height:100%;
}

.dropdown .dropdown-menu .dropdown-item:active, .dropdown .dropdown-menu .dropdown-item:hover{
    background-color: blue !important;
}

.btn.btn-primary{
    border-radius: 5px;
}

.product_card{
    background-color: #e0ebeb;
    border:solid #e0ebeb;
    border-width: 5px;
    border-radius: 10px
}

.product_card:hover{
     border: solid #FFC107;
     border-width: 5px;
     border-radius: 10px;
     cursor: pointer;
}

.star_agg_icon:hover{
    cursor: pointer;
}